version: "3.9"

# ----------------------------------------
# Version: 0.1
# if you want to edit that move to a other location otherwise with a git pull will that overwritten!
# ----------------------------------------

services:
  kadmin-arklin2:
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      - mongodb
    build: "./"
    restart: always
    environment:
      - APPEND_BASEDIR=/home/steam/KAdmin/
      - API_EXPRESS_HTTP_PORT=28080
      - API_GAMEDIG_UDP=28100
      - MONGODB_PORT=27017
      - MONGODB_HOST=mongodb
      - MONGODB_USER=kadmin
      - MONGODB_PASSWD=arklin2
      - MONGODB_DATABASE=arklin2
    ports:
      - target: 28100
        published: 28100
        protocol: udp
        mode: host
      - target: 28100
        published: 28100
        protocol: tcp
        mode: host
      - "28080:28080"
    volumes:
      # config for the cashboard if you want to edit that copy to a other path and mount it to here.
      - ../mount/PanelLogs/:/mount/PanelLogs/
      - ./.git:/mount/Git/
      - /etc/arkmanager/:/mount/Arkmanager/
      - ../mount/Server/:/mount/Server/
      - ../mount/Logs/:/mount/Logs/
      - ../mount/Backups/:/mount/Backups/
      - ../mount/config/:/mount/config/
      - /home/steam/Steam/:/mount/steamCMD/
    networks:
      - arklin2

  mongodb:
    # user: "${DOCKER_UID}:${DOCKER_GID}"
    image: mongo
    volumes:
      - '../mount/mongodb:/data/db'
    environment:
      MONGO_INITMongoDATABASE: arklin2
      MONGO_INITMongoROOT_USERNAME: kadmin
      MONGO_INITMongoROOT_PASSWORD: arklin2
    networks:
      - arklin2

networks:
  arklin2:
